.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 8rem;
    padding-block: 2rem;
    background-color: var(--background-color);
    min-height: 100dvh;
    gap: 3rem;
}

@media (max-width: 1035px) {
    .App {
        padding-inline: 4rem;
    }
}

@media (max-width: 910px) {
    .App {
        padding-inline: 2rem;
    }
}

@media (max-width: 550px) {
    .App {
        padding-inline: 1rem;
    }
}