@font-face {
    font-family: Bricolage Grotesque;
    src: url("/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf") format("truetype");
}

@font-face {
    font-family: DM Sans;
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
    font-family: DM Sans;
    font-weight: 100;
    font-style: italic;
    src: url("/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
    font-family: DM Sans;
    font-weight: 200;
    font-style: normal;
    src: url("/fonts/DM_Sans/static/DMSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: DM Sans;
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/DM_Sans/static/DMSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: DM Sans;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/DM_Sans/static/DMSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: DM Sans;
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: DM Sans;
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 1rem;
    font-family: "DM Sans", serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: "Bricolage Grotesque", "Times New Roman", serif;
}

:root {
    --text-color: #FEFEFC;
    --placeholder-color: #C2C0D5;
    --background-color: #02012B;
    --foreground-dark-color: #25253F;
    --foreground-light-color: #2F2F49;
    --foreground-highlight-color: #3C3A5F;
    --border-radius: 10px;
    --secondary-color-light: #4657D9;
    --secondary-color-dark: #2D1B9D;
}